.btn {
  text-decoration: none;
  background: #284672;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  letter-spacing: 0;
  line-height: 1rem;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .09) 0%, rgba(0, 0, 0, .09) 100%);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  transition: background 200ms linear;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #2f538a;
}