@charset "UTF-8";

/* Here we define the Custom properties */
:root {
  --negro: #393939;
  /* Typography */
  --tipo-principal: "PlusJakarta Text", sans-serif;
}


/* Configure whether a user has activated the high contrast mode (WD). */
/* Deactivate the animations in case the user has configured the mode without animation. */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reset the margins and paddings of all labels. */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Avoid problems with images */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  -o-object-fit: cover;
  object-fit: cover;
  /* optional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reset the links to work as boxes... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... except those found in paragraphs */
p a {
  display: inline;
}

/* Remove the dots from the <li>. */
li {
  list-style-type: none;
}

/* Set soft anchors */
html {
  scroll-behavior: smooth;
}

/* Deactivate default styles of the main text labels */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Avoiding problems with pseudo-elements in quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configure the text we select */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Level typography and form placement problems. */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* optional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reset the tables */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Avoid SVG problems */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configure the typography for the entire website. */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* optional */
  line-height: 1.4em;
  /* optional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* optional */
  font-smooth: always;
  /* optional */
  -webkit-font-smoothing: antialiased;
  /* optional */
  -moz-osx-font-smoothing: grayscale;
}